<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ligas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body background="C:\Users\user\Downloads\Futbol-master\bernabeu.jpg">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="C:\Users\user\Downloads\Futbol-master\Views\login.html"> SingIn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar navbar-dark bg-dark" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="C:\Users\user\Downloads\Futbol-master\Views\playersN.html"> jugadores <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="C:\Users\user\Downloads\Futbol-master\Views\equiposN.html">Equipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="C:\Users\user\Downloads\Futbol-master\Views\ligaN.html">Ligas</a>
            </li>                
          </ul>
          <span class="navbar-text">
          </span>
        </div>
      </nav>

      <header id="bio">
        <div class="container mt-5"> 
            <div class="row">
                <div class="col-md-6 my-auto">
                    <div class="header-content-left">
                        <!-- Para que ocupe todo el ancho de las 6 columnas -->
                        <img src="naniN.png" alt="No subio" style="width: 100%"> 
                    </div>
                </div>
                    <div class="col-md-6 my-auto">
                      <div class="header-content-right">
                          <h1>LIGAS DEL MUNDO</h1>
                          <p class="mt-5">Esta pagina esta diseñada con el fin de brindar informacion a todo aquel 
                            que le guste interactuar con el deporte dle futbol, conociendo las ligas, equipo y jugadores
                            alrededor del mundo
                            </p>                        
                      </div>
                  </div>
              </div>
          </div>
      </header>
</body>
</html>